os
python-dotenv
time
logging
datetime
pandas
random
re
urllib.parse
json
concurrent.futures
dataclasses
typing
queue
threading
selenium
beautifulsoup4
tqdm
pyspark
matplotlib
seaborn
numpy
networkx
sentence-transformers
python-louvain
spacy
pinecone-client
PyPDF2
python-docx
cohere
transformers
torch
rapidfuzz
streamlit

# Ensure the spaCy model is installed
spacy-en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
